$color-cbasic: #838383;
$color-cbasic-light: #acacac;
$color-cblack: #2e2e2e;
$color-cform-title: #6d75e1;
$color-ccard-background: #fafafa;
$color-orange: orange;

.h-top {
  border-bottom: 2px solid $color-cform-title;
}

.text-color-title {
    color: $color-cform-title;
}

.text-color-title-secondary {
    color: $color-cbasic;
}

.text-color-light {
  color: $color-cbasic;
}

.card-express {
  box-shadow: 2px 2px 5px #dedede;
}
.card-payment-moth {
  background: $color-ccard-background;
  border: none;
  // .card-body {
  //   padding-left: 30px;
  //   padding-right: 80px;
  // }
}

.card-checkout-color {
  border: none;
  background: $color-ccard-background;
  color: $color-cbasic;

  .title,
  .total {
    color: $color-cblack !important;
    font-weight: bold;
  }

  .table-information {
    td {
      color: $color-cblack;
    }
    th {
      color: $color-cform-title;
    }
    td,
    th {
      border-top: none;

      &.dborder {
        border-top: 1px solid #0000001a;
        border-bottom: 1px solid #0000001a;
      }
    }
  }
  
}
.progressContainer {
  margin-bottom: 40px;

  .progressContainer-son {
    //display: table-cell;
    position: relative;
    height: 100px;
    min-width: 100px;

    .progress-circle {
      color: white;
      width: 30px;
      height: 30px;
      top: 50px;
      background: $color-cform-title;
      text-align: center;
      border-radius: 27px;
      padding-top: 3px;
      z-index: 2;
      position: absolute;
      
    }
    .progress-line {
      width: 100%;
      height: 2px;
      top: 65px;
      background: $color-cbasic;
      z-index: 1;
      
      position: absolute;
    }
    .progress-prices-info {
      position: absolute;
      top: 0px;
    }

    &:first-child {
      .progress-circle {
        background: $color-orange;
      }
    } 
    &:last-child {
      width: initial !important;
      .progress-line {
        display: none;
      }
    } 
  } 
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    
}

@media (min-width: 1660px) {
    .card-checkout-color {
        .card-body {
            padding-left: 20%;
            padding-right: 20%;
        }
      }
}